<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

    <!-- Module Properties -->
    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>${project.parent.groupId}.${project.parent.artifactId}</package>
    <author>Dmitry Krivenko</author>
    <description>
        ${project.parent.description}
    </description>
    <updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
    <require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
    <activator>${project.parent.groupId}.${project.parent.artifactId}.ErrorLoggingActivator</activator>
	
	
	<!-- Adds link to admin page -->
    <extension>
        <point>org.openmrs.admin.list</point>
        <class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
    </extension>
    
    <extension>
        <point>org.openmrs.uncaughtException</point>
        <class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.UncaughtExceptionExtension</class>
    </extension>
    
    <extension>
        <point>org.openmrs.errorHandler</point>
        <class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.ErrorHandlerExtension</class>
    </extension>
    
    <!-- Global Module Properties -->
    <globalProperty>
        <property>${project.parent.artifactId}.ignore.errors</property>
        <defaultValue></defaultValue>
        <description>Allows admin to set which errors to ignore to prevent large numbers of errors getting into table</description>
    </globalProperty>
    <!-- /Global Module Properties -->
        
    <filter>
        <filter-name>exceptionLogRequestFilter</filter-name>
        <filter-class>${project.parent.groupId}.${project.parent.artifactId}.web.filter.ExceptionLogRequestFilter</filter-class>
    </filter>
	
    <filter-mapping>
        <filter-name>exceptionLogRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<!-- Maps hibernate file's, if present -->
    <mappingFiles>
				
        ExceptionLog.hbm.xml
        ExceptionLogDetail.hbm.xml
        ExceptionRootCause.hbm.xml
        ExceptionRootCauseDetail.hbm.xml
				
    </mappingFiles>

    <dwr>
        <allow>
            <convert converter="bean" match="org.openmrs.module.errorlogging.web.dwr.ExceptionLogListItem" />
            <convert converter="bean" match="org.openmrs.module.errorlogging.web.dwr.ExceptionLogDetailListItem" />
            <convert converter="bean" match="org.openmrs.module.errorlogging.web.dwr.ExceptionRootCauseListItem" />
            <create creator="new" javascript="DWRExceptionLogService">
                <param name="class" value="org.openmrs.module.errorlogging.web.dwr.DWRExceptionLogService"/>
                <include method="getExceptionLogs"/>
                <include method="getCountOfExceptionLogs"/>
                <include method="getExceptionLogDetail"/>
                <include method="getExceptionRootCause"/>
                <include method="getExceptionRootCauseDetail"/>
                <include method="saveIgnoredErrors"/>
                <include method="getIgnoredErrors"/>
                <include method="purgeExceptionLogs"/>
            </create>
        </allow>
 
        <signatures>
            <![CDATA[
            import org.openmrs.module.errorlogging.web.dwr.DWRExceptionLogService;
            DWRExceptionLogService.getExceptionLogs(String exceptionClass, String minExceptionDate, String minExceptionTime,Integer start, Integer length);
            DWRExceptionLogService.getCountOfExceptionLogs(String exceptionClass, String minExceptionDate, String minExceptionTime);
            DWRExceptionLogService.getExceptionLogDetail(Integer excLogId);
            DWRExceptionLogService.getExceptionRootCause(Integer excLogId);
            DWRExceptionLogService.getExceptionRootCauseDetail(Integer excLogId);
            DWRExceptionLogService.saveIgnoredErrors(String errors);
            DWRExceptionLogService.getIgnoredErrors();
            DWRExceptionLogService.purgeExceptionLogs(Integer... ids);
            ]]>
        </signatures>
    </dwr>
    
	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
	<!-- /Internationalization -->

</module>

