#exceptionLogTable tr.top{ 
    background-color: #E7E7E7;
}
#exceptionLogTable th, #exceptionLogTable td { 
    text-align: left; 
    vertical-align: top;
    padding: 5px;  
} 
#exceptionLogTable tr.even { 
    background-color: #F7F7F7;
    cursor: default;
}
#exceptionLogTable tr.odd { 
    background-color: #FFFFFF;
    cursor: default;
}
.trTop{ 
    background-color: #E7E7E7;
}
.trTdExcLogClass th, .trTdExcLogClass td{
    text-align: left; 
    vertical-align: top; 
    padding: 5px;
}
.trHover{
    background-color: #f0e68c;
}
.querytable tr{
    text-align: left; 
    vertical-align: top; 
}
.querytable .title{
    margin-left: 2px;
}
tr .eldetail{
    border: 1px solid #1aac9b;
    background-color: #d9d5d5;
}
.tableTop{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}
.tableBottom {
    padding: 10px;
}
.removExcLogButton{
    float: right;
}
div#exceptionLogTable_length{
    text-align: left;
    float: left;
}
